<!-- <mat-card>
    <form (submit)="createQuote(quoteForm)" #quoteForm="ngForm">
      <mat-form-field>
        <input matInput type="text" name="title" ngModel={{quote.quote}} required minlength="3" #title="ngModel">
        <mat-error *ngIf="quote.invalid">Please enter a post title.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput rows="4" name="content" ngModel={{quote.author}} required #content="ngModel"></textarea>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Update Post</button>
    </form>
  </mat-card> -->